@CHARSET "ISO-8859-1";


.navbar-tagline {
  color: #ff0000;
  font-size:8pt;
}

.hr-custom-top {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 10px solid #eee;
}

.hr-custom-bottom {
  margin-top: 0px;
  margin-bottom: 20px;
  border-top: 10px solid #eee;
}


/* footer styles
-------------------------------------------------- */
.footer-custom {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px;*/
  background-color: #000000;
}

.footer-custom a {
  color: #d4d4d4;
}
.footer-custom a:hover {
	color: #d4d4d4;
	text-decoration: none;
}
.copyright {
  font-size:10pt;
  margin-top: 10px;
  color: #d4d4d4;
  font-family: 'Calibri';
}
.footer-font {
  font-size:9pt;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #d4d4d4;
  font-family: 'Calibri';
}

.semifooter-font {
  color:#555;
  font-family: 'Calibri';
  font-size:12pt;
}

.semifooter-font a,
.semifooter-font a:hover{
  color:#555;
  font-size:12pt;
  font-family: 'Calibri';
  text-decoration: none;
}

.semifooter-font-active{
  color:#004080;
  font-size:12pt;
  font-family: 'Calibri';
  text-decoration: none;
}

.semifooter-heading-font{
  color:#0080ff;
  font-size:14pt;
  font-family: 'Calibri';
  font-weight: bold;
}

.page-heading-font {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #004080;
  font-family: 'Calibri';
}

.section-heading-font {
  font-family: inherit;
  /*font-weight: 500;*/
  line-height: 1.1;
  color: #0080ff;
  font-family: 'Calibri';
}

.paragraph-content-font {
  font-family: 'Calibri';
  font-weight: 100;
  line-height: 1.1;
  color: #646464;
  font-size: 16pt;
}


.paragraph-content-font-maillink {
  font-family: 'Calibri';
  font-weight: 800;
  line-height: 2.0;
  color: #808080;
  font-size: 14pt;
}


.section-header {
  padding-bottom: 0px;
  margin: 10px 0 10px;
  border-bottom: 1px solid #d4d4d4;
}


/* solution Section
-------------------------------------------------- */

.solution-heading-font {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40pt;
  color: #004080;
  position: relative;
  font-family: 'Calibri';
  font-weight: 400;
  /*font-family: 'Glyphicons Halflings';
  font-family: 'Raleway', sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; --defaullt from bootstrap
  padding-bottom: 20px;
  margin: 0 0 20px;*/
}


/*------- For Collpase section in About US page ***/

.panel-default > .panel-heading-about {
  color: #333;
  background-color: #f71739; /* #f5f5f5*/
  border-color: #ddd;
}

/*--- contact us page-- quick contact section --- */
.contact-form {
  background: #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 40px 0;
  padding: 5px 15px 25px;
}

/*

.carousel-caption-black {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: right;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption-black {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-caption-black {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
}
*/